.checkoutitem{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
 .checkoutitem__image{
    height: 180px;
    width: 180px;
    object-fit: contain; 
}
.checkoutitem__info{
    padding-left: 10px;
}
.checkoutitem__rating{
    display: flex;
    margin-top: 5px;
}
.checkoutitem__title{
    font-size: 15px;
    font-weight: 700;
}
.checkoutitem__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .checkoutitem__image{
        height: 140px;
        width: 120px;
        object-fit: contain; 
    }
    .checkoutitem__title{
        font-size: 11px;
        font-weight: 700;
    }
    .checkoutitem__info{
        padding-left: 5px;
    }
  } 